*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url( img/istockphoto-185007737-1024x1024.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 80vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(189, 191, 197, 0);
    /* z-index: 10; */
    border: 2px solid rgba(72, 95, 145, 0.607);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.1);
}

.container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    background: #4f6e980e;
    transform: translate(490px,150px);
    border-radius: 50%;
}

.container .box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 20px;
}

 