*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(img/abstract.avif) ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box{
    height: 80vh;
    width: 75%;
    padding: 0 20px;
    background-color: rgba(189, 191, 197, 0);
    /* z-index: 10; */
    border: 2px solid rgba(72, 95, 145, 0.607);
    border-radius: 20px;
    display: flex;
    backdrop-filter: blur(25px);
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.1);
}

.container::after{
    content: '';
    position: absolute;
    height: 300px;
    width: 300px;
    background: #4f6e980e;
    transform: translate(490px,150px);
    border-radius: 50%;
}

.container .box nav{
    height: 7%;
    width: 95%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    padding: 20px;
}

.container .box nav ul li{
    display: inline-block;
    padding: 0 20px;
}


.container .box nav ul li a{
    text-decoration: none;
    font-size: 14px;
    color: rgba(40, 128, 175, 0.943);
}

.container .box nav ul li a:hover{
    color: rgba(12, 162, 243, 0.943);
    transition: 0.3s;
}

nav .logo{
    font-size: 35px;
    color: rgba(12, 162, 243, 0.943);
    font-weight: bold;
    margin-top: 5px;
    margin-left: 30px;
    text-decoration: none;
}

.container .box .contains{
    position: relative;
    display: flex;
}

 